<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div class="card-container">
            <div class="sedans-card">
                <img src="" alt="">
                <h1>SEDANS</h1>
                <p></p>
                <button>Learn More</button>

            </div>

            <div class="suvs-card">
                <img src="" alt="">
                <h1>SUVS</h1>
                <p></p>
                <button>Learn More</button>

            </div>

            <div class="luxury-card">
                <img src="" alt="">
                <h1>LUXURY</h1>
                <p></p>
                <button>Learn More</button>

            </div>
        </div>
    </body>
</html>